<head>
<style>
  body { 
	  background-image: url("<%= asset_path ('dots.png') %>") ; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}

	@keyframes animatedBackground {
		from { background-position: 0 0; }
		to { background-position: 100% 0; }
	}

#animate-area	{ 
	width: 100%; 
	height: 100%; 
	background-image: url("<%= asset_path ('dots.png') %>");
	background-position: 0px 0px;
	background-repeat: repeat-x;

	animation: animatedBackground 350s linear infinite;
}

</style>

<script>

  var cardName = "<%= @cards.name %>";
 $(document).ready(function(){
 	var clicked = '';
 $(".selection").click(function(){

     var taco = $(this).parent().data('cardName')
     //debugger
     	if( this.checked !== true){
     		// console.log("does not contain card")
     		// console.log(taco)
     		var playa_id =  $(this).val()
     		//debugger
     		 $('.magictrick').find('li[id="'+ playa_id + '"]').remove()
     	
     	}else{
     		// console.log($(this).val())
     		$(".magictrick").append( '<li id="' + $(this).val() + '">' + $(this).parent().data('cardName') + "</li>")
     	}
   });
});

</script>

</head>

<body id="animate-area">


<h1 class="madness">Draft Your Team</h1>
  <%= form_tag(games_path, method: :post) do |f| %>

<ul class="magictrick">Your Roster:<br>
	
</ul>

   <div class="container">
    <table class="table">
     
     <tbody>
       <% @cards.each do |card| %>
	      <tr>
	      	<%= content_tag(:td, {data: { html: true, player_id: card.id, toggle: "popover", placement: "bottom", trigger: "hover", card_name: card.name, card_scoring: card.scoring}}) do %>

		      <%= label_tag(:card, "Select", class: "get") %>
		      <%= check_box_tag("cards[]", card.id, nil,  class: "selection") %>
		      <%= image_tag card.image, :class => "card_image" %>


		      <div class="card-name">
		      	<%= card.name %> 
		      </div> 
	        <% end %>
	      </tr>
	      <% end %>  
     </tbody>
    </table>

 	<%= link_to 'new', cards_path %>

  <p class="submit">
	  <%= submit_tag "Draft", :class => "button"%>
	  <% end %>
  </p>

<p class="new-hidden">
  <%= link_to "New", new_card_path %>
</p>

</body>
