
<h1 class="madness">Select Your 5 Players</h1>
  <%= form_tag(games_path, method: :post) do |f| %>


   <div class="container">
    <table class="table table-hover table-condensed">
     
      <tbody>
        <% @cards.each do |card| %>
          <tr>
            
<div class="text-center example-class" data-container="body" data-template='
<div class="popover" role="tooltip">
  <div class="arrow"></div>
  <div class="popover-content"></div></div>' data-toggle="popover" data-placement="left" data-content="this is a test">

  <div class="text-center example-class1" data-container="body" data-template='<div class="popover1" role="tooltip">
    <div class="arrow"></div>
    <div class="popover-content"></div></div>' data-toggle="popover" data-placement="left" data-content="this is a test">



            <td data-html="true" data-toggle="popover" data-trigger="hover" data-content="     Name: <%= card.name %><br>
            Scoring: <%= card.scoring %><br>Rebounds: <%= card.rebounds %><br>
            Assists: <%= card.assists %><br>
            Steals: <%= card.steals %><br>
            Blocks: <%= card.blocks %><br>">
            <%= image_tag card.image, :class => "card_image" %></td>
            <td><p><%= label_tag(:card, "Select") %>
                   <%= check_box_tag("cards[]", card.id) %></p></td>
        
        <% end %>

           </tr>  
          </tbody>
        </table>
    </div>

  <p class="submit">
  <%=submit_tag "Draft", :class => "button"%>
  <% end %>
  </p>

  <%= link_to "New", new_card_path %>





