<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @card.name %>
</p>

<p>
  <strong>Scoring:</strong>
  <%= @card.scoring %>
</p>

<p>
  <strong>Rebounds:</strong>
  <%= @card.rebounds %>
</p>

<p>
  <strong>Assists:</strong>
  <%= @card.assists %>
</p>

<p>
  <strong>Steals:</strong>
  <%= @card.steals %>
</p>

<p>
  <strong>Blocks:</strong>
  <%= @card.blocks %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
